.body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ffffff, #ffcccc, #ff6666);
}
.container {
    
    background-color: white;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.title {
    color: black;
    width: 160px;
}
.slogan {
    color: black;
    font-weight: bold;
}
.titlespan{
    color: #e82c02;
}
.p {
    margin-top: 0;
}
.img {
    width: 160px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; 
}
