USE [SistemaCONE]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 15/4/2025 01:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] NOT NULL,
	[RazonSocial] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Cliente_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 15/4/2025 01:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Server] [nvarchar](50) NOT NULL,
	[Port] [int] NOT NULL,
	[InstanciaBD] [nvarchar](50) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Empresa_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulos]    Script Date: 15/4/2025 01:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Texto] [nvarchar](50) NOT NULL,
	[Icono] [image] NULL,
	[Link] [nvarchar](255) NOT NULL,
	[PathExcelModelo] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Modulos_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModulosXCliente]    Script Date: 15/4/2025 01:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModulosXCliente](
	[IdCliente] [int] NOT NULL,
	[IdModulo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 15/4/2025 01:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[FechaExpiracionClave] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaUltAcceso] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([Id], [RazonSocial]) VALUES (1, N'Tech Solutions S.A.')
GO
INSERT [dbo].[Empresa] ([Id], [IdCliente], [Nombre], [Server], [Port], [InstanciaBD], [Usuario], [Contraseña]) VALUES (1, 1, N'Tech ERP', N'192.168.1.10', 5432, N'ERP_DB', N'admin', N'securepass')
GO
SET IDENTITY_INSERT [dbo].[Modulos] ON 

INSERT [dbo].[Modulos] ([Id], [Nombre], [Texto], [Icono], [Link], [PathExcelModelo]) VALUES (1, N'Cheques', N'Control de cheques', NULL, N'http://localhost:3000/Modules/Cheques', N'/templates/cheques.xlsx')
SET IDENTITY_INSERT [dbo].[Modulos] OFF
GO
INSERT [dbo].[ModulosXCliente] ([IdCliente], [IdModulo]) VALUES (1, 1)
GO
INSERT [dbo].[Usuarios] ([Id], [IdCliente], [Nombre], [Apellido], [Email], [Usuario], [Contraseña], [FechaAlta], [FechaExpiracionClave], [Estado], [FechaUltAcceso]) VALUES (1, 1, N'Juan', N'Pérez', N'juan.perez@tech.com', N'jperez', N'1', CAST(N'2025-03-12T00:00:00.000' AS DateTime), CAST(N'2025-09-12' AS Date), 1, CAST(N'2025-04-11T13:53:45.430' AS DateTime))
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Cliente]
GO
ALTER TABLE [dbo].[ModulosXCliente]  WITH CHECK ADD  CONSTRAINT [FK_ModulosXCliente_Cliente1] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[ModulosXCliente] CHECK CONSTRAINT [FK_ModulosXCliente_Cliente1]
GO
ALTER TABLE [dbo].[ModulosXCliente]  WITH CHECK ADD  CONSTRAINT [FK_ModulosXCliente_Modulos1] FOREIGN KEY([IdModulo])
REFERENCES [dbo].[Modulos] ([Id])
GO
ALTER TABLE [dbo].[ModulosXCliente] CHECK CONSTRAINT [FK_ModulosXCliente_Modulos1]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Cliente1] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Cliente1]
GO
