.container {
  font-family: 'Public Sans', sans-serif;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 0.86rem;
  width: 160px
}

.empresa {
  color: green;
  text-decoration: bold;
  border-color: black;
}
