/* El resto de tus estilos se mantienen igual */
.container {
background: #fff;
      width: clamp(320px, 92vw, 1080px);
    min-height: clamp(520px, 80vh, 720px);
    max-height: 720px;
    padding: 24px;          /* 32px -> 24px */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  margin: 0 auto;
  z-index: 2;
  overflow: scroll;
}
.container::-webkit-scrollbar{
  display: none;
}
.title {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #111;
}

.card {
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 12px;
  background: #fefefe;
}

.cardTitle {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #111;
}

.table {
  width: 100%;
  max-height: 700px;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.table th,
.table td {
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.headerRow {
  background-color: #f0f0f0;
}

.fieldName {
  font-weight: bold;
}

.success {
  color: #007700;
}

.error {
  color: #d00;
  font-weight: bold;
}

.noResults{
  font-style: italic;
  color: #999;
  text-align: center; /* Centrar el mensaje de no resultados */
  padding: 1rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; /* Espacio entre el título/botón y la tabla */
}
.tableContainer {
  overflow-x: auto; /* Permitir scroll horizontal si la tabla es muy ancha */
  margin-bottom: 1rem; /* Espacio entre la tabla y otros elementos */
  max-height: 300px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.toggleButton {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #e82c02; /* Azul para indicar mostrar/ocultar */
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: #d42602;
}
.tractualizado{
  background-color: #d8ffd8;
}
.btn {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #e82c02;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.btn:hover{
  background-color: #d42602;
  border-color: white;
}


/* Nueva clase para aplicar negrita al texto */
.boldText {
  font-weight: bold;
}