.body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ffffff, #ffcccc, #ff6666);
}
.container {
    
    background-color: white;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.title {
    color: black;
}
.titlespan{
    color: #e82c02;
}
.inputgroup {
    margin: 15px 0;
    text-align: left;
}
.label {
    display: block;
    font-weight: bold;
}
.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn {
    background-color: #e82c02;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn:hover {
    background-color: #c92202;
}
.error{
    color: #e82c02;
    font: bold;
}
